.advantages {
  background: @grey;
  text-align: center;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.advantages__wrapper {
  position: relative;
  .container();
  .clearfix();
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat center 510px;
  padding-bottom: 300px;
  @media @retina {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-size: 157px auto;
    }
}

.advantages__items {
  padding-top: 85px;
  padding-bottom: 15px;
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__item b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.advantages__item p {
  margin-top: 13px;
}

@media @tablet-widths {
  .advantages__items {
    float: right;
    display: block;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: left;
  }

  .advantages__items {
    padding-top: 55px;
  }

  .advantages {
    .clearfix();
    }
  .advantages__wrapper  {
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
    background-size: 268px;
    background-position: 0px 10px ;
    padding-bottom: 0;
    @media @retina {
        background-image: url("../img/iphone-screen-3-tablet@1x.png");
        background-size: 268px auto;
      }
  }
}

@media @desktop-widths {
  .advantages__wrapper  {
    background: none;
  }

  .advantages__items {
    width: 100%;
    padding-top: 0;
  }

  .advantages__item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    text-align: center;
    padding-top: 360px;
  }

  .advantages__item--1 {
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat center top;
    @media @retina {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px auto;
    }
  }

  .advantages__item--2 {
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat center top;
      @media @retina {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }
    }

  .advantages__item--3 {
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat center top;
      @media @retina {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;
      }
    }

  .advantages__item p {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
  }
  .advantages__item b {
    font-size: 30px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
  }
}
