.advantages {
  background: @grey;
  text-align: center;
}

.advantages__wrapper {
  .container();
  background: @grey url("../img/iphone-screen-mobile@1x.png") no-repeat center 505px;
  padding-bottom: 320px;
}

.advantages__items {
  padding-top: 60px;
  padding-bottom: 15px;
}

.advantages__item {
  margin-bottom: 30px;
}

.advantages__item:last-child {
  margin-bottom: 0;
}

.advantages__item b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.advantages__item p {
  margin-top: 13px;
}

@media @tablet-widths {
  .advantages__items {
    float: right;
    display: block;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: left;
  }
  .advantages {
    .clearfix();
    }
  .advantages__wrapper  {
    background: @grey url("../img/iphone-screen-mobile@1x.png") no-repeat;
    background-size: 268px;
    background-position: 0px 10px ;
    padding-bottom: 0;
  }
}

@media @desktop-widths {
  .advantages__wrapper  {
    background: none;
}
  .advantages__items {
    width: 100%;
    padding-top: 0;
}
  .advantages__item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    text-align: center;
    padding-top: 330px;
    background: url("../img/iphone-screen-mobile@1x.png") no-repeat center top;
  }
  .advantages__item p {
    padding-left: 35px;
    padding-right: 35px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 25px;
  }
  .advantages__item b {
    font-size: 30px;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
  }
}
