.banner {
  background: #1d2631 url("../img/bg-back-mobile@1x.jpg") no-repeat top center;
  height: 460px;
  margin-top: -66px;
}

.banner__inner-image {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat left bottom;
  height: 286px;
}
