.contest-form {
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  background: @white;
}


.contest-form__personal-data label,
.contest-form__contacts label,
.contest-form__legend,
.contest-form__note {
  font-size: 14px;
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;
}

.contest-form__wrapper{
  .container();
}

.contest-form__achievements,
.contest-form__apps {
  background: @grey;
}


.contest-form input {
  padding: 14px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  border: @input-border;
  color: #1d2631;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.contest-form__personal-data input,
.contest-form__contacts input {
  width: 280px;
}

.contest-form__achievements input,
.contest-form__apps input {
  display: inline-block;
}

.contest-form__wrapper-in {
  display: block;
  margin-top: 20px;
}

.contest-form__achievements label,
.contest-form__apps label {
  font-size: 18px;
  line-height: 30px;
}

.contest-form__legend {
  line-height: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.contest-form__button {
  display: block;
  margin: 0 auto;
}

.contest-form__note {
  text-align: center;
}

.contest-form__review-box {
  width: 280px;
  border: @input-border;
  display: block;
  margin: 0 auto;
  height: 200px;
}

.contest-form__personal-data,
.contest-form__achievements,
.contest-form__contacts,
.contest-form__apps,
.contest-form__review {
  padding-top: 35px;
  padding-bottom: 50px;
}

.contest-form fieldset {
  border: none;
}

.contest-form__personal-data,
.contest-form__contacts,
.contest-form__review {
  background: @white;
}

@media @tablet-widths {
  .contest-form {
    margin-top: -290px;
  }
  .contest-form__achievements {
    order: 3;
  }
  .contest-form__contacts {
    order: 2;
  }
  .contest-form__apps {
    order: 1;
  }
  .contest-form__review {
    order: 4;
  }
  .contest-form_buttons {
    order: 5;
  }
}

@media @desktop-widths {
  .contest-form {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -460px;
  }

  .contest-form__wrapper--personal-data,
  .contest-form__wrapper--apps {
    width: 470px;
  }

.contest-form__contacts,
.contest-form__review,
.contest-form_buttons
 {
  width: 100%;
 }
}
