
.contest-form__personal-data label,
.contest-form__contacts label,
.contest-form__legend,
.contest-form__note {
  font-size: 14px;
  line-height: 30px;
  color: @pink;
  text-transform: uppercase;
}

.contest-form__wrapper{
  .container();
}

@media @desktop-widths {
  .contest-form__wrapper{
    .clearfix();
  }

  .contest-form__personal-data {
    float: left;
    display: inline-block;
  }

  .contest-form__apps {
    float: right;
    display: inline-block;
  }
}


@media @tablet-widths {
  .contest-form__wrapper{
    .clearfix();
  }
  .contest-form__button {
    float: left;
    display: inline-block;
  }
  .contest-form__note {
    float: right;
    display: inline-block;
  }
}

.contest-form__achievements,
.contest-form__apps {
  background: @grey;
}


.contest-form input {
  padding: 14px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 30px;
  border: @input-border;
  color: #1d2631;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.contest-form__personal-data input,
.contest-form__contacts input {
  width: 280px;
}

.contest-form__achievements input,
.contest-form__apps input {
  display: inline-block;
}

.contest-form__wrapper-in {
  display: block;
  margin-top: 20px;
}

.contest-form__achievements label,
.contest-form__apps label {
  font-size: 18px;
  line-height: 30px;
}

.contest-form__legend {
  line-height: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.contest-form__button {
  display: block;
  margin: 0 auto;
}

.contest-form__note {
  text-align: center;
}

.contest-form__review-box {
  width: 280px;
  border: @input-border;
  display: block;
  margin: 0 auto;
  height: 200px;
}

.contest-form__personal-data,
.contest-form__achievements,
.contest-form__contacts,
.contest-form__apps,
.contest-form__review {
  padding-top: 35px;
  padding-bottom: 50px;
}

.contest-form fieldset {
  border: none;
}

.contest-form__personal-data,
.contest-form__contacts,
.contest-form__review {
  background: @white;
}
