.main-nav {
  background: rgba(29,38,49,.8);
  text-transform: uppercase;
  color: @white;
  margin: 0 auto;
  float: right;
  display: inline-block;
}

.main-nav__toggle {
  float: right;
  display: inline-block;
  vertical-align: middle;
}

@media @desktop-widths {

  .main-nav__toggle {
    display: none;
  }

}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

@media @desktop-widths {

  .main-nav__list {
    display: inline-block;
    width: 500px;
  }

  .main-nav__item {
    display: inline-block;
  }

}
