.page-header {
  background: @blue-grey url("../img/bg-back-mobile@1x.jpg") no-repeat top center;
  background-size: cover;
  @media @retina {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 700px auto;
    }
}

.page-header__title {
  font-size: 24px;
  line-height: 27px;
  font-weight: 300;
  color: @white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 85px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}

.page-header__title--to-left {
  display: none;
  float: left;
  width: 250px;
  font-size: 24px;
  line-height: 27px;
}

.page-header__title--form {
  padding-top: 30px;
  padding-bottom: 55px;
  line-height: 28px;
}

// .page-header::after {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   background: url("../img/iphone-hand-mobile@1x.png") no-repeat bottom left;
//   width: 400px;
//   height: 400px;
// }
.page-header__wrapper {
  .container();
}

.page-header__inner-image {
  margin-left: -40px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat bottom left;
  height: 392px;
  .container();
  @media @retina {
      background-image: url("../img/iphone-hand-mobile@2x.jpg");
      background-size: 258px auto;
    }
}

@media @tablet-widths {
  .page-header {
    background: @blue-grey url("../img/bg-back-tablet@1x.jpg") no-repeat center center;
    background-size: cover;
    @media @retina {
        background-image: url("../img/bg-back-tablet@2x.jpg");
        background-size: 1200px auto;
      }
  }

  .page-header__inner-image {
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat bottom right -45px;
    height: 620px;
    background-size: 700px;
    @media @retina {
        background-image: url("../img/iphone-hand-tablet@2x.jpg");
        background-size: 700px auto;
      }
  }

  .page-header__title {
    font-size: 50px;
    line-height: 60px;
    padding-top: 70px;
    padding-bottom: 140px;
    width: 500px;
  }

  .page-header__title--to-left {
    display: block;
    width: 240px;
    padding: 0;
    margin-left: 35px;
    margin-top: 90px;
    font-size: 40px;
    line-height: 50px;
  }

  .page-header__title--form {
    padding-bottom: 80px;
  }
}

@media @desktop-widths {
  .page-header {
    background: @blue-grey url("../img/bg-back-desktop@1x.jpg") no-repeat center center;
    background-size: cover;
    @media @retina {
        background-image: url("../img/bg-back-desktop@2x.jpg");
        background-size: 2560px auto;
      }
  }

  .page-header__inner-image {
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat bottom right -125px;
    height: 743px;
    background-size: 1050px;
    // background-position: 350px 150px;
    @media @retina {
        background-image: url("../img/iphone-hand-desktop@2x.jpg");
        background-size: 1050px auto;
      }
  }

  .menu {
    background: rgba(29,38,49,.8);
  }
  .menu__wrapper {
    .container();
  }

  .page-header__title {
    font-size: 50px;
    line-height: 60px;
    padding-top: 60px;
    padding-bottom: 100px;
    width: 800px;
  }

  .page-header__title--to-left {
    display: block;
    width: 240px;
    margin-top: 110px;
    margin-left: 30px;
    padding: 0;
    font-size: 50px;
    line-height: 60px;
  }
}
