.page-header {
  background: @blue-grey url("../img/bg-back-mobile@1x.jpg") no-repeat top center;
  background-size: cover;
  height: 460px;
}

.page-header__inner-image {
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat bottom left;
  height: 392px;
  .container();
}

.page-header__menu {
  background: rgba(29,38,49,.8);
  padding: 0 20px;
  height: 66px;
  color: @white;
}

.page-header__wrapper {
  .clearfix();
  .container();
}

@media @tablet-widths {
  .page-header {
    height: 729px;
  }

  .page-header__inner-image {
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat bottom right;
    height: 620px;
    background-size: 470px;
  }

  .page-header__menu {
    height: 110px;
  }
}

@media @desktop-widths {
  .page-header {
    height: 853px;
  }
  .page-header__inner-image {
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat bottom;
    height: 743px;
    background-size: 555px;
    background-position: 350px 150px;
  }
}
