.page-footer__wrapper {
  .container();
  .clearfix();
}

.page-footer {
  display: none;
  background: @white;
}

@media @tablet-widths {
  .page-footer {
    display: block;
  }
}

.page-footer__logo,
.page-footer__social,
.page-footer__copyright {
  width: 200px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
