.post {
  margin-top: 20px;
}

.post__photo {
  position: relative;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.post__photo--panorama {
  margin: 0 auto;
}

.post__label {
  position: absolute;
  top: 0;
  right: 20px;
  background: #d22856;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.post__content {
  background: #f2f2f2;
  width: 246px;
  margin: 0 auto;
  display: block;
  font-size: 14px;
  line-height: 24px;
  padding-top: 25px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 25px;
}

.post__author {
  font-weight: 700;
  display: inline-block;
  vertical-align: top;
}

.post__date,
.post__likes {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.post__likes {
  color: #d22856;
  margin-top: 13px;
}
