.prices {
  background-color: @grey;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 30px;
  overflow: hidden;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  &__wrapper {
    margin: 0 20px;
    padding-bottom: 70px;
  }

  &__features-list {
    background-color: @white;
    width: 300%;
    border-collapse: collapse;
  }

  &__first-column {
    display: none;
  }

  &__features-list th {
    width: 33%;
    height: 90px;
    background: #283645;
    color: @white;
    font-size: 18px;
    line-height: 30px;
    border: @input-border;
  }

  &__features-list th&__first-column {
    background: @grey;
    border-top: 2px solid @grey;
    border-left: 2px solid @grey;
  }

  &__features-list tr {
    background: @white;
    border: @input-border;
    height: 60px;
  }

  &__features-list td {
    border: @input-border;
  }

  &__feature {
    font-size: 14px;
    line-height: 30px;
    text-align: left;
    padding-left: 10px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__amount {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
  }

  &__hit-label {
    position: relative;
  }

  &__hit-label &__hit-label-wrapper::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    width: 46px;
    height: 46px;
    border-style: solid;
    border-width: 28px;
    border-color: transparent #d12755 transparent transparent;
    transform: rotate(45deg);
  }

  &__hit-label &__hit-label-wrapper::after {
    content: "хит";
    position: absolute;
    top: 10px;
    left: 10px;
    transform: rotate(-45deg);
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
  }

  &__on,
  &__off {
    position:  relative;
  }

  &__on .checked {
    content: "";
    position: absolute;
    top: 18px;
    right: 15px;
    width: 25px;
    height: 10px;
    border-left: 4px solid #3dc643;
    border-bottom: 4px solid #3dc643;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &__off .cross::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 15px;
    width: 33px;
    height: 4px;
    background-color: #f25b26;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &__off .cross::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 15px;
    width: 33px;
    height: 4px;
    background-color: #f25b26;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &__on .filter::before,
  &__off .filter::before {
    content: "розовый фильтр";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 5,24px;
    line-height: 5,24px;
    text-transform: uppercase;
  }

   &__on .emoticons::before,
   &__off .emoticons::before {
    content: "смайлики";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 5,24px;
    line-height: 5,24px;
    text-transform: uppercase;
  }

   &__on .comments::before,
   &__off .comments::before {
    content: "комментарии";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 5,24px;
    line-height: 5,24px;
    text-transform: uppercase;
  }

  &__wrapper {
    position: relative;
  }

  &__slider-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 20;
    font-size: 0;
    text-align: center;
    transform: translateX(-50%);
  }

  &__slider-controls label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 15px;
    vertical-align: top;
    background: #bec2c7;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid @grey;
  }

  &__slider-controls label:hover {
    background: #7e868f;
  }

  &__slider-controls label:active {
    background: #e9ebec;
  }
}

.slider__input1:checked ~ .prices__slider-controls label[for="prices-input-1"],
.slider__input2:checked ~ .prices__slider-controls label[for="prices-input-2"],
.slider__input3:checked ~ .prices__slider-controls label[for="prices-input-3"] {
  border: 3px solid @blue-grey;
  background: @white;
}

.slider__input2:checked ~ .prices__features-list {
    transform: translate(-33.3%);
}

.slider__input3:checked ~ .prices__features-list {
    transform: translate(-66.6%);
}


@media @tablet-widths {
  .prices {
    padding-bottom: 0;
    padding-top: 90px;

    &__features-list {
      width: 100%;
    }

    &__wrapper {
      .container();
    }

    &__first-column {
      display: table-cell;
    }

    &__slider-controls {
      display: none;
    }

    &__feature {
      padding-right: 0;
    }

    &__title {
      font-size: 16px;
    }

    &__amount {
      font-size: 18px;
    }

    &__features-list th {
      height: 75px;
      width: 25%;
    }

    &__features-list tr {
      height: 47px;
    }

    &__on span {
      top: 10px;
      left: 45%;
    }

    &__off span::before {
      top: 20px;
      left: 42%;
    }

    &__off span::after {
      top: 20px;
      left: 42%;
    }

    &__features-list .filter,
    &__features-list .emoticons,
    &__features-list .comments {
      display: none;
    }

    &__on .checked {
      top: 10px;
      left: 60px;
    }

    &__off .cross::before,
    &__off .cross::after {
      top: 20px;
      left: 60px;
    }
}

  .slider__input2:checked ~ .prices__features-list {
      transform: none;
  }
}

@media @desktop-widths {
  .prices__features-list {
    margin-top: 85px;
  }

  .prices__features-list th {
    height: 95px;
  }

  .prices__title {
    font-size: 18px;
  }

  .prices__amount {
    font-size: 24px;
  }

  .prices__features-list tr {
    height: 60px;
  }

  .prices__on span {
    top: 20px;
    left: 45%;
  }

  .prices__off span::before {
    top: 30px;
    left: 42%;
  }

  .prices__off span::after {
    top: 30px;
    left: 42%;
  }

  .prices__on .checked {
    top: 25px;
    left: 100px;
  }

  .prices__off .cross::before,
  .prices__off .cross::after {
    top: 30px;
    left: 100px;
  }

  .prices__feature {
    font-size: 18px;
    padding-left: 20px;
  }

  .prices__wrapper {
    padding-bottom: 100px;
  }
}
