.prices {
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 40px;
}

.prices__features-list {
  background-color: #ffffff;
  width: 280px;
  margin-left: 20px;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.prices__title {
  background: #1d2631;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  padding: 20px;
}

.prices__feature {
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  border-bottom: 2px solid #e5e5e5;
  padding: 15px;
  padding-right: 60px;
}
