.prices {
  background-color: #f2f2f2;
  height: 447px;
  text-transform: uppercase;
}

.prices__features-list {
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}

.prices__title {
  background: #1d2631;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
}

.prices__feature {
  font-size: 14px;
  line-height: 30px;
}
