.research {
  background: @white;
  display: none;
  text-align: left;

&__wrapper {
  .container();
  .clearfix();
  position: relative;
}

&__block {
  float: right;
  width: 310px;
  margin-top: 100px;
}

& b {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
  color: #000000;
  display: block;
  width: 170px;
}

& p {
  margin-top: 10px;
  margin-bottom: 10px;
}

& a {
  color: @pink;
}
}

@media @tablet-widths {
  .research {
    display: block;

  &__wrapper::before {
    content: "24";
    position: absolute;
    top: 115px;
    left: 15px;
    display: block;
    padding-top: 70px;
    width: 180px;
    height: 105px;
    text-align: center;
    font-size: 96px;
    font-weight: 700;
    color: @pink;
    background-color: @grey;
    border: 15px solid @pink;
    border-radius: 50%;
    z-index: 2;
  }

  &__wrapper {
    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: left 0 top 60px;
    background-size: 240px;
    padding-bottom: 50px;
  }
}
}

@media @desktop-widths {
  .research {
    background: @grey;

    &__wrapper::before {
      top: 70px;
      left: 25px;
      padding-top: 90px;
      width: 220px;
      height: 130px;
      font-size: 120px;
    }

    &__wrapper {
      background-size: 300px;
      background-position: left 0 top 0;
      padding-bottom: 0;
    }

    &__block {
      width: 570px;
      margin-top: 90px;
      margin-bottom: 110px;
    }

    & b {
      font-size: 30px;
      line-height: 30px;
      width: 300px;
    }

    & p {
      font-size: 18px;
      line-height: 30px;
      margin-top: 25px;
      margin-bottom: 30px;
      margin-right: 50px
    }

    & a {
      font-size: 18px;
      line-height: 30px;
    }
  }
}
