.reviews {
  background: @white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 60px;
  display: block;
}

.reviews__wrapper {
  .container();
}

.reviews__author {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 15px;
  display: block;
}

.reviews__author-description {
  display: none;
}

@media @tablet-widths {
  .reviews__author-description {
    display: block;
  }
}

.reviews__item p {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 30px;
}

blockquote {
  margin: 0;
  padding: 0;
}
