.submit-photo {
  background: @grey;
}

.submit-photo__wrapper {
  .container();
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

.submit-photo__tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.submit-photo__controls {
  border-bottom: 1px solid #dddfe0;
}


@media @tablet-widths {
  .submit-photo__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .submit-photo__tools .tools {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .submit-photo__buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media @desktop-widths {
  .submit-photo__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
